<h1>Make a new recipe here!</h1>

<%= form_tag "/recipes", method: :post do %>
  <div>
    Title: 
    <input type="text" name="title">
  </div>
  <div>
    Chef: 
    <input type="text" name="chef">
  </div>
  <div>
    Ingredients: 
    <input type="text" name="ingredients">
  </div>
  <div>
    Directions: 
    <input type="text" name="directions">
  </div>
  <div>
    Prep Time: 
    <input type="text" name="prep_time">
  </div>
  <div>
    Price: 
    <input type="text" name="price">
  </div>
  <input type="submit" value="Make a new recipe!">
<% end %>