<%= form_tag "/recipes", method: :post do %>
  <p>Username: <input type="text" name="username"></p>
  <p>Email: <input type="text" name="email"></p>  
  <p>Password: <input type="password" name="password"></p>
  <p>Password Confirmation: <input type="password" name="password_confirmation"></p>
  <p><input type="submit" name="Sign up for the site!"></p>
<% end %>
