<h1>Order a new product here! </h1>

  Name: 
    <input type="text" name="name">
    <input type="hidden" name="recipe_id" value=<%= @products.name %>>
  </div>

  <div>
    Category: 
    <input type="text" name="category">
    <input type="hidden" name="recipe_id" value=<%= @products.tags %>>
  </div>

  <div>
    Tags: 
    <input type="text" name="tags">
    <input type="hidden" name="recipe_id" value=<%= @products.tags %>>
  </div>

  <div>
    Price: 
    <input type="text" name="price">
    <input type="hidden" name="recipe_id" value=<%= @products.price %>>
  </div>

  <div>
  <input type="submit" value="Make a new recipe!">
  Quantity: 
    <input type="text" name="price">
  </div>
  <input type="submit" value="Make a new recipe!">
<% end %>