<h1>Edit your products here!</h1>

<%= form_tag "/products/#{@products.id}", method: :patch do %>

  <div>
    Name: 
    <input type="text" name="name">
  </div>

  <div>
    Category: 
    <input type="text" name="category">
  </div>

  <div>
    Tags: 
    <input type="text" name="tags">
  </div>

  <div>
    Delivery Time: 
    <input type="text" name="delivery_time">
  </div>

  <div>
    Price: 
    <input type="text" name="price">
  </div>

  <div>
    Company: 
    <input type="text" name="company">
  </div>

  <input type="submit" value="Make a new recipe!">

<% end %>

